%span.quip_display
  = link_to "\##{quip.id}", quip
  <span id=#{h "plus#{quip.id}"}>
  \#{link_to "+",  {:controller => :quips, :id => quip.id, :type => 'up'}, :remote => true}
(
%span{:id => "vote_#{quip.id}"}>= h quip.votes
)
<span id=#{h "minus#{quip.id}"}>#{link_to "-",  {:controller => :quips, :id => quip.id, :type => 'down'}, :remote => true}
.quip_display
  %pre= quip.quip
