- content_for :page_head do
  = javascript_include_tag 'quips_index'
- content_for :left_sidebar do
  #sort_options
    = link_to 'Highest Rated', {:controller => :quips, :sort => :votes}, :remote => true, :id => 'sort_votes'
    = link_to 'Newest', {:controller => :quips, :sort => :newest}, :remote => true, :id => 'sort_newest'
    = link_to 'Oldest', {:controller => :quips, :sort => :oldest}, :remote => true, :id => 'sort_oldest'
#quip_list
  = render :partial => "quip", :collection => @quips
