<script>
    function prepare_hovers() {
        var old_plus = $('addnew_plus').getStyle('color');
        var old_O = $('random_O').getStyle('color');
        $('addnew').observe('mouseover', function() {
            $('addnew_plus').setStyle({
                color: '#007711',
            });
        });
        $('addnew').observe('mouseout', function() {
            $('addnew_plus').setStyle({
                color: old_plus,
            });
        });
        $('random').observe('mouseover', function() {
            $('random_O').setStyle({
                color: '#001177',
            });
        });
        $('random').observe('mouseout', function() {
            $('random_O').setStyle({
                color: old_O,
            });
        });
    }

    document.observe("dom:loaded", function() {
        prepare_hovers();
    });
</script>

<div>
<% for quip in @quips %>
    <span style="font-family: monospace;">
    <%= link_to "\##{quip.id}", quip %>
    <%= link_to "+", vote_url(quip.id, :type => "up") %>(<%=h quip.votes %>)<%= link_to "-", vote_url(quip.id, :type => "down") %>
    </span>
    <div class="quip_text">
        <%=simple_format(html_escape(quip.quip)) %>
    </div>
<% end %>
</div>

