<script>
    function prepare_hovers() {
        var old_plus = $('addnew_plus').getStyle('color');
        var old_O = $('random_O').getStyle('color');
        $('addnew').observe('mouseover', function() {
            $('addnew_plus').setStyle({
                color: '#007711',
            });
        });
        $('addnew').observe('mouseout', function() {
            $('addnew_plus').setStyle({
                color: old_plus,
            });
        });
        $('random').observe('mouseover', function() {
            $('random_O').setStyle({
                color: '#001177',
            });
        });
        $('random').observe('mouseout', function() {
            $('random_O').setStyle({
                color: old_O,
            });
        });
    }

    document.observe("dom:loaded", function() {
        prepare_hovers();
    });
</script>

<div>
  <% if @quips.length > 0 %>
    <% for quip in @quips %>
        <div class="quip">
            <span style="font-family: monospace;">
                <%= link_to "\##{quip.id}", quip %>
                <span id=<%=h "plus#{quip.id}"%>>
                  <!-- The following ugliness is due to newlines generating spaces for no reason.
                  Damn you mozilla. -->
                <%= link_to_remote "+", 
                    :url => vote_url(quip.id, :type => "up"),
                    :update => "vote_#{quip.id}",
                    :loading => "$('plus#{quip.id}').update('+');$('minus#{quip.id}').update('-');"%></span>(<span id="vote_<%=quip.id%>"><%=h quip.votes %></span>)<span id=<%=h "minus#{quip.id}"%>><%= link_to_remote "-", 
                    :url => vote_url(quip.id, :type => "down"),
                    :update => "vote_#{quip.id}",
                    :loading => "$('minus#{quip.id}').update('-');$('plus#{quip.id}').update('+');"%>
                </span>
            </span>
            <div class="quip_text">
                <%=simple_format(html_escape(quip.quip)) %>
            </div>
        </div>
    <% end %>
  <% else %>
    No quotes entered.
  <% end %>
</div>

