<p>
  <b>Source:</b>
  <%=h @quip.source %>
</p>

<p>
  <b>Submitter:</b>
  <%=h @quip.submitter %>
</p>

<p>
  <b>Date:</b>
  <%=h @quip.date %>
</p>
<p>
  <b>Score:</b>
  <span id="votes"><%=h @quip.votes %></span>
  <span id="upvote">
  <%= link_to_remote "Upvote", 
      :url => vote_url(@quip.id, :type => "up"),
      :update => "votes",
      :loading => "$('upvote').update('');$('downvote').update('');"%>
  </span>
  <span id="downvote">
  <%= link_to_remote "Downvote", 
      :url => vote_url(@quip.id, :type => "down"),
      :update => "votes",
      :loading => "$('upvote').update('');$('downvote').update('');"%>
  </span>
</p>

<div class="quip_text">
  <%=simple_format(html_escape(@quip.quip)) %>
</div>


<%= link_to 'Edit', edit_quip_path(@quip) %> |
<%= link_to 'Back', quips_path %>
