<p>
  <b>Source:</b>
  <%=h @quip.source %>
</p>

<p>
  <b>Submitter:</b>
  <%=h @quip.submitter %>
</p>

<p>
  <b>Date:</b>
  <%=h @quip.date %>
</p>
<p>
  <b>Score:</b>
  <span id="votes"><%=h @quip.votes %></span>
  <span id="upvote">
  <%= link_to "Upvote", 
    {:controller => :quips, :id => @quip.id, :type => 'up'},
      :remote => true %>
  </span>
  <span id="downvote">
  <%= link_to "Downvote", 
    {:controller => :quips, :id => @quip.id, :type => 'down'},
       :remote => true %>
  </span>
</p>

<div class="quip_text">
  <%= @quip.quip %>
</div>


<%= link_to 'Edit', edit_quip_path(@quip) %> |
<%= link_to 'Back', quips_path %>
