!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Quips: #{controller.action_name}
    = stylesheet_link_tag "application"
    = yield :page_head
    %title Quips
    = csrf_meta_tag
  %body
    .container
      = render :partial => "quips_header"
      = yield

    = javascript_include_tag "application"
    = yield :javascript

