<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Quips: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'resquip' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
Testing search box!!!
<%= text_field :quip, :quip, :id => "search_box" %>
<script type="text/javascript">
    var last_query = "";
    var current_results = [];
    function highlight_query(search_query, snippet) {
        var re = RegExp("("+search_query+")", "i");
        return snippet.replace(re, "<b>$1</b>");
    }
    function parse_search_response(json_response, search_query) {
        var re = RegExp("^(\s|.)*"+search_query+".*", "i");
        var quips = json_response.collect(function(s) {return re.exec(s.quip)[0];});
        return quips;
    }
    function field_updated(element, value) {
        value = value.toLowerCase();
        if(value == "") {
            update_results([], "");
        }

        // Don't bother for short queries
        if(value.length < 3) {
            update_results(current_results, value);
            return;
        }
        // If we have existing results, just filter through them
        var existing_results = current_results.filter(function(s) {
                return s.toLowerCase().startsWith(value);});
        if(existing_results.length > 0){
            update_results(existing_results, value);
            return;
        }
        // Stop searching if we fail and this query
        // is continuing the previous one
        else if(last_query && value.startsWith(last_query) && current_results.length == 0) { 
            update_results([], "");
            return;
        }
        last_query = value;


        new Ajax.Request("<%= url_for :controller => :quips, :action=>:ajax_autocomplete %>",
            {
              parameters:'query='+value,
              onSuccess: function(transport) {
                update_results(parse_search_response(transport.responseJSON, value), value);} 
        });

    }
    function update_results(results, search_query) {
        current_results = results;
        display = results.collect(function(s) {
                return highlight_query(search_query, s) + "<br>";
                });

        $('results').update(display);
    }
    new Form.Element.Observer('search_box', 0.25, field_updated);

</script>
<div id="results">
    REsults should appear here!
</div>

<div id="content">
    <%= render :partial => "quips_header" %>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %>
</div>

</body>
</html>
